@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.6rem;
  background-color: #dfe6fb;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 23.43em) {
    body {
      font-size: 1.4rem; } }

.heading {
  font-size: 2.8rem;
  font-weight: 900;
  color: #1f2e55; }
  @media only screen and (max-width: 23.43em) {
    .heading {
      font-size: 2.4rem; } }

.paragraph {
  color: #717fa6; }

.plan__price--annual {
  color: #1f2e55;
  font-weight: 900; }
.plan__price--infos {
  color: #717fa6; }
.plan__change {
  color: #382ae1;
  font-weight: 700;
  border-bottom: 1px solid #382ae1;
  width: fit-content; }

.cancel {
  color: #717fa6;
  font-weight: 700; }

.btn {
  font-size: 16px;
  font-weight: 700; }
  @media only screen and (max-width: 23.43em) {
    .btn {
      font-size: 1.4rem; } }

.container {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: auto;
  overflow: hidden;
  border-radius: 2.5rem; }
  @media only screen and (max-width: 37.5em) {
    .container {
      width: 40rem; } }
  @media only screen and (max-width: 31.25em) {
    .container {
      width: 35rem; } }
  @media only screen and (max-width: 23.43em) {
    .container {
      width: 30rem; } }
  .container .image {
    width: 50rem;
    height: auto;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    @media only screen and (max-width: 37.5em) {
      .container .image {
        width: 40rem; } }
    @media only screen and (max-width: 31.25em) {
      .container .image {
        width: 35rem; } }
    @media only screen and (max-width: 23.43em) {
      .container .image {
        width: 30rem; } }
  .container .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: #ffffff; }
    @media only screen and (max-width: 31.25em) {
      .container .text {
        width: 35rem;
        padding: 3rem 2rem; } }
    @media only screen and (max-width: 23.43em) {
      .container .text {
        width: 30rem;
        padding: 2rem 1.5rem; } }
    .container .text .heading {
      margin-bottom: 2.5rem; }
      @media only screen and (max-width: 23.43em) {
        .container .text .heading {
          margin-bottom: 1.5rem; } }
    .container .text .paragraph {
      margin-bottom: 2.5rem;
      text-align: center; }
      @media only screen and (max-width: 23.43em) {
        .container .text .paragraph {
          margin-bottom: 1.5rem; } }
    .container .text .plan {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f7f9ff;
      padding: 2rem;
      border-radius: 2rem;
      width: 100%; }
      .container .text .plan__img {
        margin-right: 2rem; }
      .container .text .plan__price {
        display: flex;
        flex-direction: column;
        margin-right: 8rem; }
        @media only screen and (max-width: 31.25em) {
          .container .text .plan__price {
            margin-right: 3.5rem; } }
        .container .text .plan__price--annual {
          margin-bottom: 1rem; }
      .container .text .plan__change {
        transition: opacity 0.3s ease;
        cursor: pointer; }
        .container .text .plan__change:hover {
          opacity: 0.75; }
    .container .text .btn {
      background-color: #382ae1;
      color: #ffffff;
      border: none;
      margin: 3rem 0;
      padding: 2rem;
      cursor: pointer;
      outline: inherit;
      width: 100%;
      border-radius: 1.5rem;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
      transition: opacity 0.3s ease; }
      @media only screen and (max-width: 23.43em) {
        .container .text .btn {
          margin: 1.5rem; } }
      .container .text .btn:hover {
        opacity: 0.75; }
    .container .text .cancel {
      cursor: pointer;
      transition: opacity 0.3s ease; }
      .container .text .cancel:hover {
        color: black; }

/*# sourceMappingURL=main.css.map */
